.none {
    display: none;
}
.mgb-30{
    margin-bottom: 30px;
}
.border-none{
    border: none;
}
.width-100{
    width: 100%;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}

.active-scale-0_97:active {
    transform: scale(0.97); 
}
.pd-0{
    padding: 0;
}
.border-none{
    border: none;
}
.pointer{
    cursor: pointer;
}