.none {
    display: none;
}
.mgb-40{
    margin-bottom: 40px;
}
.border-none{
    border: none;
}
.width-100{
    width: 100%;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}