:root{
    --main-color: #F2F8FC
}
*{
    margin: 0;
    font-family: 'Be VietNam Pro';
    user-select: none;
    box-sizing: border-box
}

.view{
    height: 100vh;
    width: auto;
    background-color: #F2F8FC;
}

#naviagtion-bar {
    height: auto;
    background-color: #fff;
    display: flex;
    font-size: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);}
#menu{
    margin-right: auto;
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;

}
#menu li > a  {
    color: black;
    text-decoration: none;
}
#menu li:nth-last-child(1) > a{
    color:deepskyblue
}

#dang-nhap{
    border-radius: 0.5rem;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    margin-left: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;

}
#tim-kiem {
    border: solid 1px black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
#tim-kiem input {
    border: none;
    background-color: transparent;
    margin-left: 5px;
    outline: none;
}
#center-content{
    
    margin-top: 25vh;
    display: flex;
    padding: 0 100px;
}
#center-content-right{
    display: flex;
    flex: 2; 
    align-items: center;
    justify-content: center;
    font-size: 7.5rem;
    font-weight: bold;
    background-color: transparent;
    text-shadow: 0px 0px 100px deepskyblue;
    color: white;
}

#center-content-left{
    flex: 1; 
}
#bottom-content {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

#bottom-content button {
    padding: 20px 50px;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: deepskyblue;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
}


#bottom-content button:hover {
    background-color: darkred;
}


#bottom-content button:active {
    transform: scale(0.97); 
}

#auth-form {
  position: fixed;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.auth-form-account {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 90vh;
    padding: 80px 4rem 20px;
    background-color: var(--main-color);
    border-radius: 10px;
}
.input-value {
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    gap: 10px;
    background-color: var(--main-color);
    align-items: center;
}
.input-value input {
    outline: none;
    flex-grow: 1;
    background-color: var(--main-color);
}

.auth-form-account p {
    font-size: 0.75rem;
    margin-left: auto;
    color: #808080
}
.submit-button{
    border-radius: 5px;
    margin: 30px 0;
    padding: 10px 40px;
    font-weight: bold;
    border: 1px solid white;
    background-color: deepskyblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.submit-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 191, 255, 0.25);
}
.submit-button:active {
    transform: scale(0.97); 
}
.divider {
  display: flex;
  align-items: center;
  color: black; 
  margin: 10px 0; 
  font-size: 0.75rem;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1; 
  height: 1px;
  background-color: black; 
}

.divider::before {
  margin-right: 15px;
}

.divider::after {
  margin-left: 15px;
}
.close_x i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close_x{
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}
.close_x:hover{
    background-color: #fff;
    cursor: pointer;
}
#create-account{
    position: absolute;
    bottom: 0%;
    margin-bottom: 2rem;
    left: 50%;
    transform: translateX(-50%); 
    padding: 0.5rem 2rem;
    width: calc(100% - 8rem);
    color: black;
    background-color: transparent;
}