<footer
  id="footer"
  class="bg-black relative text-white lg:px-[10vh] py-8 px-[5vh] h-fit flex flex-col lg:flex-row"
>
  <div class="pr-12 lg:w-[40vh] block">
    <h5 class="text-base font-bold mb-4">Tiện Ích</h5>
    <ul class="text-gray-500">
      <li
        class="border-t border-gray-500 py-3 hover:text-white hover:border-white"
      >
        <button id="footer-dang-nhap" class="active:sca">Đăng nhập</button>
      </li>
      <li
        class="border-t border-gray-500 py-3 hover:text-white hover:border-white"
      >
        <button id="foot-tao-tai-khoan">Tạo tài khoản</button>
      </li>
      <li
        class="border-t border-gray-500 py-3 hover:text-white hover:border-white"
      >
        <a href="../user/index.html#trang-chu">Trang Chủ</a>
      </li>
      <li
        class="border-t border-gray-500 py-3 hover:text-white hover:border-white"
      >
        <a href="../user/templates.html">Templates</a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col lg:w-[60vh] justify-start">
    <div class="flex items-center gap-2">
      <i
        ><img
          src="../resource/Logo.png"
          alt="icon"
          class="w-6 h-6 inline-block"
      /></i>
      <button
        id="reload-trang-chu"
        class="font-bold text-white hover:text-cyan-400 active:scale-95"
      >
        ThPortfolio
      </button>
    </div>
    <p class="text-gray-400 mt-2">
      © 2025 - Bản quyền thuộc về Thportfolio teams
    </p>
  </div>
</footer>
