<div
  id="naviagtion-bar"
  class="fixed px-8 py-4 flex gap-6 w-full items-center shadow-md bg-white"
>
  <!-- Nút mở menu trên mobile -->
  <div id="mobile-menu" class="lg:hidden mr-auto">
    <i class="fa-solid fa-bars" style="color: black"></i>
  </div>
  <a id="logo" href="./index.html"
    ><img class="w-10 h-10" src="../resource/Logo.png" alt="Logo"
  /></a>
  <ul id="menu-items" class="flex gap-5 w-full hidden lg:flex">
    <li
      class="py-1 w-fit text-base font-semibold border-b-2 border-transparent hover:border-sky-400 transition-all duration-[300ms]"
    >
      <a href="./index.html" class="whitespace-nowrap">Trang Chủ</a>
    </li>
    <li
      class="py-1 w-fit text-base font-semibold border-b-2 border-transparent hover:border-sky-400 transition-all duration-[300ms]"
    >
      <a href="./index.html#gioi-thieu" class="whitespace-nowrap">Giới Thiệu</a>
    </li>
    <li
      class="py-1 w-fit text-base font-semibold border-b-2 border-transparent hover:border-sky-400 transition-all duration-[300ms]"
    >
      <a href="./index.html#nhom-phat-trien" class="whitespace-nowrap"
        >Nhóm Phát Triển</a
      >
    </li>
    <li
      class="py-1 w-fit text-base font-semibold border-b-2 border-transparent hover:border-sky-400 transition-all duration-[300ms]"
    >
      <a href="./index.html#lien-he" class="whitespace-nowrap">Liên Hệ</a>
    </li>
    <li
      class="py-1 w-fit text-base font-semibold border-b-2 border-transparent hover:border-sky-400 transition-all duration-[300ms] mr-auto text-sky-400"
    >
      <a href="./templates.html">Templates</a>
    </li>
    <li>
      <a
        href="./cart.html"
        class="flex items-center gap-2 border border-black rounded-lg px-3 text-xs py-2 w-fit active:scale-95"
      >
        <img class="w-4 h-4" src="../resource/shopping-cart.png" />
        <button id="navButtonOpenCartForm" class="whitespace-nowrap">
          Giỏ hàng
        </button>
      </a>
    </li>
    <li>
      <div
        id="search-bar"
        class="flex w-fit items-center border border-black px-4 py-2 rounded-lg gap-2 text-xs whitespace-nowrap"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          class="border-0 focus:outline-none"
          type="text"
          placeholder="Tìm kiếm..."
        />
        <button
          id="search-button"
          class="active:scale-95 whitespace-nowrap transition-all duration-[200ms]"
        >
          Tìm kiếm
        </button>
      </div>
    </li>
    <li>
      <button
        id="navButtonOpenLoginForm"
        class="text-sky-400 px-4 py-2 rounded-lg border border-sky-400 active:scale-95 whitespace-nowrap text-xs transition-all duration-[200ms]"
      >
        Đăng nhập
      </button>
    </li>
  </ul>
</div>
