<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ThPortfolio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-color: #2d3436;
        background-image: linear-gradient(90deg, #2d3436 0%, #000000 74%);
        color: white;
        padding: 0 100px;
      }
    </style>
  </head>
  <body>
    <div class="flex fixed left-[100px] right-[100px] mt-5 gap-8">
      <div
        id="navigation"
        class="flex w-full font-bold justify-between py-5 px-10 border border-white rounded-xl shadow-[inset_1px_1px_2px_0_rgba(255,255,255,0.3),inset_-1px_-1px_2px_0_rgba(255,255,255,0.1),inset_0_0_10px_0_rgba(255,255,255,0.3)] transition-all duration-300 ease-out"
      >
        <span>ThPorfolio</span>
        <div class="flex gap-8">
          <div id="naviagtionMenu" class="flex"></div>
        </div>
      </div>
      <button
        id="navigationButtonClose"
        class="transition-transform duration-300"
      >
        <img src="./resources/panel-left-close.png" class="" />
      </button>
    </div>
  </body>
</html>
<script>
  let navigationMenuElement = document.getElementById("naviagtionMenu");
  const navigation = document.getElementById("navigation");

  const listNavigationitems = [
    { key: "TrangChu", label: "Trang chủ" },
    { key: "GioiThieu", label: "Giới thiệu" },
    { key: "KyNang", label: "Kỹ năng" },
    { key: "DuAn", label: "Dự án" },
    { key: "LienHe", label: "Liên Hệ" },
  ];

  navigationMenuElement.innerHTML += `<ul class="flex gap-8">
        ${listNavigationitems
          .map((item) => {
            const activeInitial = item.key === "TrangChu" ? "text-sky-400" : "";
            return `<li class="navigationItems cursor-pointer transition-colors duration-200 ${activeInitial}">${item.label}</li>`;
          })
          .join("")}</ul>`;
  document.addEventListener("DOMContentLoaded", () => {
    const btn_CloseNavigation = document.getElementById(
      "navigationButtonClose"
    );
    btn_CloseNavigation.addEventListener("click", () => {
      btn_CloseNavigation.classList.toggle("rotate-180");
      navigation.classList.toggle("opacity-0");
    });
  });
  const navigationItems = document.querySelectorAll(".navigationItems");
  navigationItems.forEach((item) => {
    item.addEventListener("click", (event) => {
      navigationItems.forEach((navItem) => {
        navItem.classList.remove("text-sky-400");
      });

      event.currentTarget.classList.add("text-sky-400");
    });
  });
</script>
